/* FONT STACK */
/* body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
} */

/* BASE LAYOUT */
html {
	background-color: #FFF;
	height:100%;
	min-height:400px;
	min-width:900px;
}

html * {
	margin: 0;
}

body {
	background: #FFF font-family: Arial, sans-serif;
	font-size: 16px;
	height:100%;
	min-height:400px;
	min-width:900px;
}

.title h1 {
	color: black;
	font-size: 24px;
	font-weight: normal;
/* 	line-height: 1.25; */
	margin-bottom: 15px;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* MESSAGES AND ERRORS */
.errors,.message {
	width: 100%;
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 0em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	-moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */
.error input,.error select,.error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus,.error select:focus,.error textarea:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */
input:invalid,select:invalid,textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus,select:invalid:focus,textarea:invalid:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

/* ACTION BUTTONS */

#dialog {
    display: none;
}
.noTitleStuff .ui-dialog-titlebar {display:none}

/*  BOOTSTRAP  */
.scroller{
	overflow:auto;
}

.wrapper {
	margin: 10px 25px 0px 25px;
}

.wrapper .breadcrumb, .content .breadcrumb{
	padding: 8px 0px;
}

.edit-wrapper{
	margin-top:10px;
}

.nav > li {
    float:left !important;
}

.navbar {
	margin-bottom: 0;
}

.navbar-nav{
	float:left  !important;
	margin:0px !important;
}

.navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.navbar-inner {
	background-color: rgb(32, 80, 129);
	background-image: none;
	border-radius: 0;
}

.navbar-inner .navbar-brand {
	padding: 8px 0px;
	margin-left: 10px
}

.white-link {
	color: white !important;
	font-size: 15px !important;
}

.nav>li>a:focus,.nav>li>a:hover,.nav .open>a {
	background-color: rgb(59, 115, 175) !important;
}

.container .navbar-button {
	margin-top: 5px;
}

.dropdown-menu {
	right: 0;
	left: auto;
}

.breadcrumb {
	background-color: white;
	margin-bottom: 5px;
}

.register-border {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	border: 1px solid;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 0px 0px 5px;
}

.first {
	padding: 10px 10px 10px 100px;
}

span.cke_skin_kama {
	border: none !important;
}

.content>.show,.content>form>.form>.show {
	list-style-type: none;
	list-style-position: inside;
	display: block;
	margin: 0;
	padding: 0;
}

.content>.show>.comment {
	border-top: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	background: none repeat scroll 0% 0% rgb(235, 242, 249);
}

.created {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 15px;
	color:rgb(153, 153, 153);
}

.created b{
	color: rgb(112, 112, 112);
}

.created b:FOCUS,.created b:HOVER{
	color: black;
}

.content>.show>.text>textarea.value {
	width: 100%;
	min-height:200px;
	height:auto;
	resize: none;
	border: none;
}

.content>.show>.text>div.value {
	width: 100%;
}

.content>.show>.text>div.value>h1, .content>.show>.text>div.value>h2, .content>.show>.text>div.value>h3{
	margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-weight: bold;
}

.content>.show>.text>div.value>p{
	font-size:18px;
	font-weight: bold;
	margin-bottom:20px !important;
	margin-top:20px !important;
}
.content>.show>.text>div.value>ul{
	list-style-type:disc;
}

.content>.show>.text>div.value>ul>li{
	margin-left:35px !important;
}

.content>.show>.text>div.value>ul>li>ul>li{
	text-indent: -15px;
	margin-left: 75px;
}

.content>.show>.text>div.value>ul>li>ul>li>table{
	margin-left:75px;
}
.content>.show>.text>div.value>ul>li>ul>li>table,.content>.show>.text>div.value>ul>li>ul>li>table th,.content>.show>.text>div.value>ul>li>ul>li>table td{
	border:1px dashed rgb(187, 187, 187);
}

.content>.show>.text>div.value>ul>li>ul>li>ul>li{
	text-indent: -15px;
	margin-left: 105px;
}

.content>.show>.text>div.value>ul>li>ul>li>ul>li>table{
	margin-left: 105px;
}

.content>.show>.text>div.value>ul>li>ul>li>ul>li>table, .content>.show>.text>div.value>ul>li>ul>li>ul>li>table th, .content>.show>.text>div.value>ul>li>ul>li>ul>li>table td{
	border:1px dashed rgb(187, 187, 187);
}

.content>.show>.comment>span.value {
	display: block;
}

.content>.show>.comment>span.created {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
}

.content>.show>.comment>span.value {
	display: block;
}

.content>form>.form>.show>.text{
	margin-bottom: 10px;
}

.content>form>.form>.show>.text>textarea {
	width: 100%;
	height: 100%;
	resize: none;
	min-height: 300px;
    -moz-box-shadow: inset 0 8px 8px -8px rgb(112, 112, 112),
    inset 0 -8px 8px -8px rgb(112, 112, 112);
    -webkit-box-shadow: inset 0 8px 8px -8px rgb(112, 112, 112),
    inset 0 -8px 8px -8px rgb(112, 112, 112);
    box-shadow: inset 0 8px 8px -8px rgb(112, 112, 112),
    inset 0 -8px 8px -8px rgb(112, 112, 112);
	border: none;
	padding: 5px;
}

.content>form>.form>.show>.comment>textarea {
	width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 250px);
	height: 40px;
	margin-left: 5px;
	resize: none;
	-webkit-box-shadow: inset 0 0 5px rgb(112, 112, 112);
	-moz-box-shadow: inset 0 0 5px rgb(112, 112, 112);
	box-shadow: inset 0 0 5px rgb(112, 112, 112);
	border: none;
	border-radius: 6px;
	padding: 5px;
}

.content>.btn-group{
	margin-left:4px;
	margin-bottom:2px;
}

.content>.btn-group>.btn-group>.dropdown-menu{
	text-align: center;
}

.offset-top {
	margin-top: 15px;
}

.offset-right {
	margin-right: 10px;
}

.offset-bottom {
	margin-bottom: 15px;
}

.offset-left {
	margin-left: 10px;
}

.block {
	display: block;
}

.pages {
	position: relative;
	top: 20px;
	right: 0px;
}

.pages>form>select {
	background-color: rgb(64, 150, 210);
	color: white;
	width: 50px;
	border: 2px solid #FFF;
	border-radius: 6px;
}

.for-footer {
	height: 55px;
	display: block;
}

/* FORMS */
.form>.fieldcontain>.field>input {
	width: 100%;
	height: 50px;
	font-size: 32px;
	text-indent: 15px;
	-webkit-box-shadow: inset 0 0 5px rgb(112, 112, 112);
	-moz-box-shadow: inset 0 0 5px rgb(112, 112, 112);
	box-shadow: inset 0 0 5px rgb(112, 112, 112);
	border: none;
	border-radius: 6px;
}

.form>.fieldcontain>select {
	text-align: center;
	width: 120px;
}

.form>.fieldcontain>.status-label {
	text-align: center;
	margin-top: 25px;
}

.login-content{
	width:100%;
	
}

.login-content>.form-horizontal{
	width:600px;
	margin:100px auto 0 auto;
}

.login-content>.form-horizontal>.form-group>.btn{

}

.form-horizontal {
	/*width:50%;*/
	padding: 30px 50px 30px 50px;
	border: 1px solid rgb(204, 204, 204);
	-webkit-box-shadow: 0 0 5px rgb(154, 154, 154);
	-moz-box-shadow: 0 0 5px rgb(154, 154, 154);
	box-shadow: 0 0 5px rgb(154, 154, 154);
	border-radius: 10px;
	background: white;
}

.form-horizontal>.form-group>h3 {
	border-bottom: 1px solid rgb(204, 204, 204);
	padding-bottom: 10px;
}

.form-horizontal>.form-group>.btn{
	width: 25%;
	font-size: 16px;
	margin-left: 200px;
}

.form-horizontal>.form-actions>.btn{
	width: 48%;
	font-size: 16px;
}

.form-plot{
	width:100%;
}

.form-plot input{
	width:50px
}

.form-plot input.btn{
	width:120px;
	margin-left:15px;
}

#create-secUser>.form-horizontal {
	margin: 100px auto 0 auto;
	width: 300px;
}

/* BOOTSTRAP TABLE */
.table {
	font-size: 16px;
	border-top: 1px black solid;
}

.table th.sorted-asc{
	background-image: url(../images/skin/sorted_asc.gif);
	background-repeat: no-repeat;
}

.table th.sorted-desc{
	background-image: url(../images/skin/sorted_desc.gif);
	background-repeat: no-repeat;
}

.table th.sorted-asc.project,.table th.sorted-desc.project {
	background-position: 120px center;
}

.table th.sorted-asc.date, .table th.sorted-desc.date{
	background-position: 115px center;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 8px 0px;
}

.table tbody tr:hover {
	background-color: rgb(240, 240, 240);
}
/* project table */
 .table.project td:not(:FIRST-CHILD),.table.project th:not(:FIRST-CHILD)
{
    white-space:nowrap;
    text-align: center;
    min-width: 120px;
}

.table.project td:first-child,.table.project th:FIRST-CHILD {
	width: 100%;
	min-width:130px;
}
/* history table */

.table.history td:first-child,.table.history th:FIRST-CHILD{
	text-align: left;
    width:250px;
	min-width: 250px;
}

.table.history td:first-child+td, .table.history th:FIRST-CHILD+th
{
    text-align: left;
    width:140px;
    min-width: 140px;
}

.table.history td:first-child+td+td, .table.history th:FIRST-CHILD+th+th
{
    text-align: left;
    text-indent:10px;
    width:100%;
    min-width: 100px;
}
.table.history td:first-child+td+td+td, .table.history th:FIRST-CHILD+th+th+th
{
	text-align:center;
	white-space:nowrap;
}
	

.table.history tr:FIRST-CHILD{
	font-weight: bold;
}

/* Buttons */
.buttons {
	position: relative;
	top: -45px;
	right: 0px;
}

.form-buttons {
	position: relative;
	top: -38px;
	right: 10px;
}

.form-buttons>.btn-success {
	width:80px;
}

/* BOOTSTRAP BUTTONS */
.btn {
	font-weight: bold;
}

/* BOOTSTRAP PAGINATION */
.pagination .prevLink,.pagination .step,.pagination .currentStep,.pagination .nextLink
	{
	border: 1px solid rgb(221, 221, 221);
	margin-left: 0px;
	text-align: center;
	background-color: #FFF;
}

.pagination .prevLink:HOVER,.pagination .step:HOVER,.pagination .nextLink:HOVER
	{
	background-color: #DBDBDB;
}

.pagination .step,.pagination .currentStep {
	padding: 5px 10px;
}

.pagination .currentStep {
	background-color: #4096EE;
}

.pagination .prevLink {
	padding: 5px 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination .nextLink {
	padding: 5px 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}