<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.tomtom.amelinium.db.mappers.SnapshotMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert
		into snapshot (
		dt, revision, sync, projectId, backlogId, chartId
		)
		values (
		to_timestamp(#{dt},'YYYY-MM-DD HH24:MI:SS'),
		#{revision},
		#{sync},
		#{projectId},
		#{backlogId},
		#{chartId}
		)
	</insert>

	<select id="selectCurrentId" resultType="int">
		select max(s.id) from snapshot s where s.projectId=#{value};
	</select>

	<select id="selectCurrentRevision" resultType="int">
		select
		max(s.revision) from snapshot s where s.projectId=#{value};
	</select>

	<select id="selectAll" resultType="snapshot">
		select
		*
		from snapshot
	</select>

	<select id="select" resultType="snapshot">
		select
		*
		from snapshot
		where id =
		#{value}
	</select>

	<delete id="delete">
		delete from snapshot where projectId=#{value}
	</delete>

</mapper>
